@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #E23D3D;
  --second-color: #212121;
  --text-color: #3d3d3d;
  --white-color: #FFF;
  --border-color: #e0e0e0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  background-color: var(--white-color);
  color: var(--second-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
  height: 15rem;
}

a {
  color: var(--second-color);
  text-decoration: none;
}

p {
  color: var(--text-color) !important;
}

section {
  margin-top: 200px;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.btn {
  --width: 150px;
  --height: 50px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: var(--width);
  height: var(--height);
  padding: 0 24px;
  letter-spacing: .1rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 2px solid var(--primary-color);
  font-size: 1.8rem;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
  transition: .5s ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--white-color);
  z-index: -1;
  transition: .5s ease-in-out;
}

.btn:hover::before {
  width: 100%;
}

.btn:hover {
  color: var(--primary-color);
}

.section-heading {
  font-size: 3.8rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
}